h2, h3, h4, h5, h6 {
    font-family: 'Montserrat' !important;
    font-weight: 500 !important;
    line-height: 100% !important;
    color: rgb(32, 79, 94) !important;
}

h1 {
    font-family: 'Montserrat' !important;
    font-weight: 600 !important;
    line-height: 100% !important;
    font-size: 5rem !important;
    color: rgb(32, 79, 94) !important;
}

@media (max-width: 767px) {
    h1 { 
        font-size: 3.5rem !important;  
    }
    h2 { 
        font-size: 2.5rem !important;  
    }
  }

@media (max-width: 576px) {
    h1 { 
        font-size: 2.5rem !important;  
    }
    h2 { 
        font-size: 2rem !important;  
    }
  }  

p {
    font-family: 'Open Sans' !important;
    font-weight: 400 !important;
    color: #333333 !important;
}

.font-Montserrat {
    font-family: 'Montserrat' !important;
}

h3 {
    font-size: 24px !important;
    letter-spacing: 0 !important;
}

.mil-field-frame select {
    position: relative;
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    color: rgb(32, 79, 94);
    padding: 0 20px;
    height: 60px;
    width: 100%;
    border: solid 1px rgb(213, 241, 241);
    border-radius: 5px;
    background-color: rgb(234, 251, 251);
}

.custom-height {
    height: 70px !important;
}

:root :where(a:where(:not(.wp-element-button))) {
    text-decoration: none !important;
}

.mil-button {
    color: rgb(250, 255, 255) !important;
}

.mil-book-popup {
    width: 60% !important; 
    max-width: 1000px !important; 
    margin: 0 auto !important; 
}

.mil-book-popup {
    height: 500px !important; 
    overflow-y: auto !important; 
    padding: 20px !important; 
}

.mil-top-panel .mil-top-panel-content .mil-logo img {
    width: 40% !important; 
}

@media (min-width: 768px) {
    .mil-top-panel .mil-top-panel-content .mil-logo img {
        width: 50% !important;
    }
}

@media (min-width: 992px) {
    .mil-top-panel .mil-top-panel-content .mil-logo img {
        width: 60% !important;
    }
}

@media (min-width: 1200px) {
    .mil-top-panel .mil-top-panel-content .mil-logo img {
        width: 75% !important;
    }
}


footer .mil-footer-content .mil-logo img {
    width: 250px !important;
}

.margin-top-0 {
    margin-top: 0 !important;
}

.custom-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.custom-list li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #00A3B4;}

.custom-list li::before {
    content: "\2714"; 
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.2em;
    color: rgb(244, 107, 51); 
    line-height: 1;
}

.mil-faq-answer p {
    padding: 0px 0 20px 0 !important;
    font-weight: 400 !important;
}

.custom-list h6 {
    padding-bottom: 20px;
    text-decoration: none !important;
}

.mil-faq-item.active .mil-faq-answer {
    max-height: 1400px !important;
}

.custom-list > .col-lg-5.mt-5 {
    margin-top: 0 !important;
}

.mil-fade-upp p {
    font-weight: 400 !important;
}

.custom-list-01 {
    list-style: none;
    padding: 0;
    margin: 0;
}

.custom-list-01 li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #00A3B4;
}

.custom-list-01 li::before {
    content: "\2716"; 
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.2em;
    color: rgb(244, 107, 51); 
    line-height: 1;
}

.custom-list-01 h6 {
    padding-bottom: 20px;
    text-decoration: none !important;
}

.mil-footer-menu ul li a {
    font-size: 22px !important;
}


.custom-logo-01 {
    width: 200px;
}

.custom-logo-02 {
    width: 100px;
}

.fw-500 {
    font-weight: 500 !important;
}

.mil-footer-menu ul li {
    margin-bottom: 15px !important;
}

.contact-custom-text {
    font-size: 20px !important;
    letter-spacing: 0 !important;
    line-height: 35px !important;
    font-weight: 500;
    color: rgb(32, 79, 94) !important;
}

@media (max-width: 768px) {
    footer .mil-footer-content .mil-logo {
        display: inline !important;
    }

    footer .mil-footer-content {
        text-align: center !important;
    }

    footer .mil-footer-content .row {
        justify-content: center !important;
    }

    footer .mil-footer-content .col-md-4,
    footer .mil-footer-content .col-md-7,
    footer .mil-footer-content .col-lg-6,
    footer .mil-footer-content .col-lg-4,
    footer .mil-footer-content .col-lg-5,
    footer .mil-footer-content .col-md-6 {
        margin-bottom: 20px !important;
    }

    footer .mil-footer-content .mil-social-icons {
        justify-content: center !important;
    }

    footer .mil-footer-content .mil-social-icons li {
        display: inline-block !important;
        margin: 0 10px !important;
    }
}

/* .mil-flexbox {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.mil-iconbox {
    width: calc(33.333% - 20px);
    box-sizing: border-box;
}

@media (max-width: 1200px) {
    .mil-iconbox {
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .mil-iconbox {
        width: calc(100% - 20px);
    }
} */

.whatsapp-button:hover {
    background-color: #25D366 !important;
    color: #ffffff !important;
    transition: background-color 0.3s ease, color 0.3s ease !important;
}

::-webkit-scrollbar {
    display: block !important;

}