h2, h3, h4, h5, h6 {
    font-family: 'Montserrat' !important;
    font-weight: 500 !important;
    line-height: 100% !important;
    color: rgb(32, 79, 94) !important;
}

html{
    scrollbar-color: lightblue white;
}

h1 {
    font-family: 'Montserrat' !important;
    font-weight: 600 !important;
    line-height: 100% !important;
    font-size: 3rem !important;
    color: rgb(32, 79, 94) !important;
}

h2 {
    font-family: 'Montserrat' !important;
    font-weight: 600 !important;
    line-height: 100% !important;
    font-size: 2.5rem !important;
    color: rgb(32, 79, 94) !important;
}


@media (max-width: 767px) {
    h1 { 
        font-size: 2.5rem !important;  
    }
    h2 { 
        font-size: 2rem !important;  
    }
  }

@media (max-width: 576px) {
    h1 { 
        font-size: 2rem !important;  
    }
    h2 { 
        font-size: 1.5rem !important;  
    }
  }  

p {
    font-family: 'Poppins', sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    color: #333333 !important;
}

.font-Montserrat {
    font-family: 'Montserrat' !important;
}

h3 {
    font-size: 22px !important;
    letter-spacing: 0 !important;
}

.mil-field-frame select {
    position: relative;
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    color: rgb(32, 79, 94);
    padding: 0 20px;
    height: 60px;
    width: 100%;
    border: solid 1px rgb(213, 241, 241);
    border-radius: 5px;
    background-color: rgb(234, 251, 251);
}

.custom-height {
    height: 70px !important;
}

:root :where(a:where(:not(.wp-element-button))) {
    text-decoration: none !important;
}

.mil-button {
    color: rgb(250, 255, 255) !important;
}

.mil-book-popup {
    width: 60% !important; 
    max-width: 1000px !important; 
    margin: 0 auto !important; 
}

.mil-book-popup {
    height: 500px !important; 
    overflow-y: auto !important; 
    padding: 20px !important; 
}

.mil-top-panel .mil-top-panel-content .mil-logo img {
    width: 40% !important; 
}

@media (min-width: 768px) {
    .mil-top-panel .mil-top-panel-content .mil-logo img {
        width: 50% !important;
    }
}

@media (min-width: 992px) {
    .mil-top-panel .mil-top-panel-content .mil-logo img {
        width: 60% !important;
    }
}

@media (min-width: 1200px) {
    .mil-top-panel .mil-top-panel-content .mil-logo img {
        width: 75% !important;
    }
}


footer .mil-footer-content .mil-logo img {
    width: 250px !important;
}

.margin-top-0 {
    margin-top: 0 !important;
}

.custom-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.custom-list li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #00A3B4;}

.custom-list li::before {
    content: "\2714"; 
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.2em;
    color: rgb(244, 107, 51); 
    line-height: 1;
}

.mil-faq-answer p {
    padding: 0px 0 20px 0 !important;
    font-weight: 400 !important;
}

.custom-list h6 {
    padding-bottom: 20px;
    text-decoration: none !important;
}

.mil-faq-item.active .mil-faq-answer {
    max-height: 1400px !important;
}

.custom-list > .col-lg-5.mt-5 {
    margin-top: 0 !important;
}

.mil-fade-upp p {
    font-weight: 400 !important;
}

.custom-list-01 {
    list-style: none;
    padding: 0;
    margin: 0;
}

.custom-list-01 li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #00A3B4;
}

.custom-list-01 li::before {
    content: "\2716"; 
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.2em;
    color: rgb(244, 107, 51); 
    line-height: 1;
}

.custom-list-01 h6 {
    padding-bottom: 20px;
    text-decoration: none !important;
}

.mil-footer-menu ul li a {
    font-size: 20px !important;
}


.custom-logo-01 {
    width: 200px;
}

.custom-logo-02 {
    width: 100px;
}

.fw-500 {
    font-weight: 500 !important;
}

.mil-footer-menu ul li {
    margin-bottom: 8px !important;
}

.contact-custom-text {
    font-size: 20px !important;
    letter-spacing: 0 !important;
    line-height: 35px !important;
    font-weight: 500;
    color: rgb(32, 79, 94) !important;
}

@media (max-width: 768px) {
    footer .mil-footer-content .mil-logo {
        display: inline !important;
    }

    footer .mil-footer-content {
        text-align: center !important;
    }

    footer .mil-footer-content .row {
        justify-content: center !important;
    }

    footer .mil-footer-content .col-md-4,
    footer .mil-footer-content .col-md-7,
    footer .mil-footer-content .col-lg-6,
    footer .mil-footer-content .col-lg-4,
    footer .mil-footer-content .col-lg-5,
    footer .mil-footer-content .col-md-6 {
        margin-bottom: 20px !important;
    }

    footer .mil-footer-content .mil-social-icons {
        justify-content: center !important;
    }

    footer .mil-footer-content .mil-social-icons li {
        display: inline-block !important;
        margin: 0 10px !important;
    }
    .footer-menu-align {
        display: flex !important;
        justify-content: center !important;
    }
}

.mil-flexbox-custom {
    display: flex !important;
    flex-wrap: wrap !important;
    gap: 20px !important;
    justify-content: center !important;
}

.mil-iconbox{
    padding: 24px !important;
    padding-right: 24px !important;
}

.mil-iconbox-custom {
    width: calc(33.333% - 20px) !important;
    box-sizing: border-box !important;
}

.mil-iconbox-counter {
    width: calc(20% - 20px) !important;
    box-sizing: border-box !important;
}

.other-logo{
    display: flex; align-items: center; gap: 12px;
}

@media (max-width: 1200px) {
    .mil-iconbox-custom {
        width: calc(50% - 20px) !important;
    }
}

@media (max-width: 768px) {
    .mil-iconbox-custom {
        width: calc(100% - 20px) !important;
    }
    .mil-iconbox-counter {
        width: calc(50% - 20px) !important;
    }
    .other-logo{
        display: flex; align-items: center; gap: 12px; justify-content: center;
    }
}

.whatsapp-button:hover {
    background-color: #25D366 !important;
    color: #ffffff !important;
    transition: background-color 0.3s ease, color 0.3s ease !important;
}

::-webkit-scrollbar {
    display: block !important;

}

.counter{
    background-color: #0097b21f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 4px;
    border-radius: 16px;
    text-align: center;
    min-height: 170px;
    justify-content: space-around;
}

.counter-row{
    width: 95% !important;
    margin-top: 16px;
}

@media (max-width: 1200px) {
    .counter-row{
        width: 100% !important;
    }
}

.home-title{
    font-size: 5rem !important;
}

@media (max-width: 576px) {
    .home-title{
        font-size: 3.5rem !important;
    }
}

.wpcf7-not-valid-tip {
    font-size: 0.8em !important;
}

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.payment-required .wpcf7-response-output {
    border-radius: 15px !important;
    border: 2px solid rgb(244, 107, 51);
    border-color: rgb(244, 107, 51) !important;
    background-color: rgb(244 107 51 / 73%);
    font-size: 15px !important;
    color: white;
    font-weight: 400;
}

.wpcf7 form.sent .wpcf7-response-output {
    border-radius: 15px !important;
    border: 2px solid #00a0d2;
    border-color: #00a0d2 !important;
    background-color: #00a0d28c;
    font-size: 15px !important;
    color: white;
    font-weight: 400;
}

.wpcf7 form .wpcf7-response-output {
    margin: 2em 0.5em 1em;
    padding: 8px;
}

.container-footer-logos {
    width: 125px !important;
    height: 125px !important;
    border: none !important;
}

.font-16 {
    font-size: 16px !important;
}

.blog-description p {
    padding: 0px 0 20px 0 !important;
    font-weight: 400 !important;
}


.blog-description h2 {
    font-family: 'Montserrat' !important;
    font-weight: 600 !important;
    line-height: 100% !important;
    font-size: 2.5rem !important;
    color: rgb(32, 79, 94) !important;
}

.padding-top-0 {
    padding-top: 0 !important;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.team-section {
    text-align: center;
}

.team-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.team-section .highlight {
    color: #00a0d2;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.team-member {
    background-color: rgb(250, 255, 255);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
    margin: 10px;
    flex: 1 1 300px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.team-member:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(75, 135, 175, 0.2);
}

.team-member img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    transition: transform 0.3s;
}

.team-member:hover img {
    transform: scale(1.1);
}

.team-member h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.team-member p {
    font-size: 1em;
    color: #777;
    margin-bottom: 15px;
}

.social-links a {
    margin: 0 5px;
    display: inline-block;
    transition: transform 0.3s;
}

.social-links a:hover {
    transform: scale(1.2);
}

.icon {
    width: 24px;
    height: 24px;
    fill: #777;
    transition: fill 0.3s ease;
}

.icon:hover {
    fill: rgb(0, 151, 178);
}

@media (max-width: 768px) {
    .team-member {
        flex: 1 1 100%;
    }
}

.contact-number {
    color: #1f2937;
    font-weight: bold;
    text-decoration: none; 
    transition: transform 0.2s; 
}

.contact-number:hover {
    color: rgb(0, 151, 178); 
    transform: scale(1.2); 
}

.mil-iconbox-counter {
    transition: transform 0.3s, box-shadow 0.3s;
}

.mil-iconbox-counter:hover {
    transform: translateY(-10px);
}

.mil-iconbox-counter:hover svg {
    transform: scale(1.1);
}

.plus-sign {
    color: rgb(244 107 51 / 73%); 
}

.padding-top-60 {
    padding-top: 60px;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

@media only screen and (max-width: 600px) {

    .mobile-content-center {
        text-align: center !important;
    }
}

.btn-center {
    text-align: center !important;
    justify-content: center !important;
}

.margin-top-30 {
    margin-top: 30px;
}

.review-client {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto; 
}

.review-client img {
    max-width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px; 
}


.carousel {
    position: relative;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
}

.carousel-track-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-image {
    width: 100%;
    display: block;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
}

.carousel-button.left {
    left: 10px;
}

.carousel-button.right {
    right: 10px;
}

.icon-box-padding-4 {
    padding: 4px !important;
}

.feature-h5 {
    font-size: 14px !important;
}

.icon-w-h {
    width: 40px !important;
    height: 40px !important;
}

.container-table {
 margin-bottom: 60px;
}
.custom-table {
    width: auto;
    margin-top: 20px;
}
.custom-table th, .custom-table td {
    border: 1px solid transparent;
    padding: 8px;
    text-align: center;
}
.custom-table th {
    background-color: rgb(250, 255, 255);
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 16px;
}
.custom-table tr:nth-child(even) {
    background-color: rgb(213, 241, 241);
}

.custom-margin-top-6 {
    margin-top: 6px !important;
}

.donation-form-group .donation-time-buttons,
.donation-form-group .donation-donation-slots {
    display: flex;
    justify-content: space-between;
}

.donation-form-group .donation-time-buttons button,
.donation-form-group .donation-donation-slots button {
    padding: 10px;
    flex: 1;
    margin: 0 5px;
    cursor: pointer;
}

.donation-form-group .donation-time-buttons button:first-child,
.donation-form-group .donation-donation-slots button:first-child {
    margin-bottom: 20px;
    margin-top: 5px;
    margin-left: 0;
    position: relative;
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    /* color: rgb(32, 79, 94); */
    padding: 0 20px;
    height: 60px;
    width: 100%;
    border: solid 1px rgb(213, 241, 241);
    border-radius: 5px;
    background-color: rgb(234, 251, 251);
}

.donation-form-group .donation-time-buttons button:last-child,
.donation-form-group .donation-donation-slots button:last-child {
    margin-bottom: 20px;
    margin-top: 5px;
    margin-left: 0;
    position: relative;
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    /* color: rgb(32, 79, 94); */
    padding: 0 20px;
    height: 60px;
    width: 100%;
    border: solid 1px rgb(213, 241, 241);
    border-radius: 5px;
    background-color: rgb(234, 251, 251);
}

.donation-form-group .selected {
    border-color: rgb(244, 107, 51) !important; 
    color: rgb(0, 151, 178);
}

.donation-form-group label {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 500;
    border-radius: 60px;
    color: rgb(32, 79, 94);
    white-space: nowrap;
}

.booking-card {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: 6px solid #ffffff;
  }

  .booking-card h2 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
  }

  .booking-card p {
    font-family: 'Poppins', sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    color: #333333 !important;
  }

    @media (max-width: 678px) {
    .booking-card p {
        font-size: 14px !important;
      }  
    }

    @media (max-width: 509px) {
    .booking-card p {
        font-size: 12px !important;
        }  
    }   
  
  .booking-icon-text {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: end;
  }

  .booking-icon-text img {
    width: 16px;
    margin-right: 8px;
  }

  .booking-select-time {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .booking-time-button {
    background-color: #f0f2f5;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
  }

  .booking-time-button.selected {
    background-color: #007bff;
    color: white;
  }

  .booking-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .booking-info img {
    width: 20px;
    margin-right: 8px;
  }
  

  .booking-price-breakdown {
    display: flex;
    justify-content: start;
    margin-bottom: 10px;
  }

  .booking-total-price {
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
    text-align: end;
  }

  @media (max-width: 678px) {
    .booking-total-price {
        font-size: 25px !important;
      }  
    }

    @media (max-width: 509px) {
    .booking-total-price {
        font-size: 20px !important;
        }  
    }  

  .booking-buttons {
    display: flex;
    justify-content: space-between;
  }

  .custom-margin-10 {
    margin-right: 10px;
  }

 .custom-time-width  {
    width: 300px !important;
    gap: 12px !important;
}

@media (max-width: 1200px) {
    .booking-card {
        margin-bottom: 60px;
    }
}

.icon-color {
    fill: #0097b2 !important;
}

.image-booking {
    width: 200px !important;
    border-radius: 18px !important;
}

.booking-heading {
    justify-content: center;
    text-align: left;
    display: flex;
    align-items: center;
}

@media (max-width: 1200px) {
    .booking-heading {
        margin-bottom: 10px;
        text-align: center;
    }
}